{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Default Title{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/initial.css' %}?t={{ timestamp }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}?t={{ timestamp }}">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <nav>
        <a href="/Temp?Temp=CSS01">CSS01</a>
        <a href="/Temp?Temp=CSS02">CSS02</a> 
        <a href="/Temp?Temp=CSS03">CSS03</a>
        <a href="/Temp?Temp=CSS04">CSS04</a>
        <a href="/Temp?Temp=CSS05">CSS05</a>
        <a href="/Temp?Temp=CSS06">CSS06</a>
        <a href="/Temp?Temp=CSS07">CSS07</a>
        <a href="/Temp?Temp=CSS08">CSS08</a>
        <a href="/Temp?Temp=CSS09">CSS09</a>
        <a href="/Temp?Temp=CSS10">CSS10</a>
        <a href="/Temp?Temp=CSS11">CSS11</a>
        <a href="/Temp?Temp=CSS11">CSS12</a>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>