{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>排版練習2</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}?t={{ timestamp }}">
</head>
<style>
   ul{
    font-size: 0px;

   }
   li{
    font-size: 50px;
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: #aaa;
    margin: 10px;
    text-align: center;
    line-height: 100px;
   }
   .col20 {
    left: 120px;
    position: relative;
    background-color: #ccc;
    z-index: 1;
   }
   .col21 {
    left: -120px;
    position: relative;
    z-index: 2;
   }
</style>
<body>
    <ul>
        <li class="col1">1</li>
        <li class="col2">2</li>
        <li class="col3">3</li>
        <li class="col4">4</li>
        <li class="col5">5</li>
        <li class="col6">6</li>
        <li class="col7">7</li>
        <li class="col8">8</li>
        <li class="col9">9</li>
        <li class="col10">10</li>
        <li class="col11">11</li>
        <li class="col12">12</li>
        <li class="col13">13</li>
        <li class="col14">14</li>
        <li class="col15">15</li>
        <li class="col16">16</li>
        <li class="col17">17</li>
        <li class="col18">18</li>
        <li class="col19">19</li>
        <li class="col20">20</li>
        <li class="col21">21</li>
        <li class="col22">22</li>
        <li class="col23">23</li>
        <li class="col24">24</li>
        <li class="col25">25</li>
        <li class="col26">26</li>
        <li class="col27">27</li>
        <li class="col28">28</li>
        <li class="col29">29</li>
        <li class="col30">30</li>
        <li class="col31">31</li>
        <li class="col32">32</li>
        <li class="col33">33</li>
        <li class="col34">34</li>
        <li class="col35">35</li>
        <li class="col36">36</li>
        <li class="col37">37</li>
        <li class="col38">38</li>
        <li class="col39">39</li>
        <li class="col40">40</li>
        <li class="col41">41</li>
        <li class="col42">42</li>
        <li class="col43">43</li>
        <li class="col44">44</li>
        <li class="col45">45</li>
        <li class="col46">46</li>
        <li class="col47">47</li>
        <li class="col48">48</li>
        <li class="col49">49</li>
        <li class="col50">50</li>
    </ul>
</body>

</html>