{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flex定位</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}?t={{ timestamp }}">
</head>
<style>
    .fixed-block {
        width: 200px;
        height: 400px;
        background-color: #ccc;
        position: fixed;
        opacity: 0.6;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
</style>

<body>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis vel similique esse dolorem! Veritatis,
        distinctio. Recusandae aut numquam assumenda inventore quaerat animi non cupiditate porro iusto accusamus.
        Expedita, nemo at.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis vel similique esse dolorem! Veritatis,
        distinctio. Recusandae aut numquam assumenda inventore quaerat animi non cupiditate porro iusto accusamus.
        Expedita, nemo at.</p>
    <div class="fixed-block">
    </div>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis vel similique esse dolorem! Veritatis,
        distinctio. Recusandae aut numquam assumenda inventore quaerat animi non cupiditate porro iusto accusamus.
        Expedita, nemo at.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis vel similique esse dolorem! Veritatis,
        distinctio. Recusandae aut numquam assumenda inventore quaerat animi non cupiditate porro iusto accusamus.
        Expedita, nemo at.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis vel similique esse dolorem! Veritatis,
        distinctio. Recusandae aut numquam assumenda inventore quaerat animi non cupiditate porro iusto accusamus.
        Expedita, nemo at.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis vel similique esse dolorem! Veritatis,
        distinctio. Recusandae aut numquam assumenda inventore quaerat animi non cupiditate porro iusto accusamus.
        Expedita, nemo at.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis vel similique esse dolorem! Veritatis,
        distinctio. Recusandae aut numquam assumenda inventore quaerat animi non cupiditate porro iusto accusamus.
        Expedita, nemo at.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis vel similique esse dolorem! Veritatis,
        distinctio. Recusandae aut numquam assumenda inventore quaerat animi non cupiditate porro iusto accusamus.
        Expedita, nemo at.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis vel similique esse dolorem! Veritatis,
        distinctio. Recusandae aut numquam assumenda inventore quaerat animi non cupiditate porro iusto accusamus.
        Expedita, nemo at.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis vel similique esse dolorem! Veritatis,
        distinctio. Recusandae aut numquam assumenda inventore quaerat animi non cupiditate porro iusto accusamus.
        Expedita, nemo at.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis vel similique esse dolorem! Veritatis,
        distinctio. Recusandae aut numquam assumenda inventore quaerat animi non cupiditate porro iusto accusamus.
        Expedita, nemo at.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis vel similique esse dolorem! Veritatis,
        distinctio. Recusandae aut numquam assumenda inventore quaerat animi non cupiditate porro iusto accusamus.
        Expedita, nemo at.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis vel similique esse dolorem! Veritatis,
        distinctio. Recusandae aut numquam assumenda inventore quaerat animi non cupiditate porro iusto accusamus.
        Expedita, nemo at.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis vel similique esse dolorem! Veritatis,
        distinctio. Recusandae aut numquam assumenda inventore quaerat animi non cupiditate porro iusto accusamus.
        Expedita, nemo at.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis vel similique esse dolorem! Veritatis,
        distinctio. Recusandae aut numquam assumenda inventore quaerat animi non cupiditate porro iusto accusamus.
        Expedita, nemo at.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis vel similique esse dolorem! Veritatis,
        distinctio. Recusandae aut numquam assumenda inventore quaerat animi non cupiditate porro iusto accusamus.
        Expedita, nemo at.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis vel similique esse dolorem! Veritatis,
        distinctio. Recusandae aut numquam assumenda inventore quaerat animi non cupiditate porro iusto accusamus.
        Expedita, nemo at.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis vel similique esse dolorem! Veritatis,
        distinctio. Recusandae aut numquam assumenda inventore quaerat animi non cupiditate porro iusto accusamus.
        Expedita, nemo at.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis vel similique esse dolorem! Veritatis,
        distinctio. Recusandae aut numquam assumenda inventore quaerat animi non cupiditate porro iusto accusamus.
        Expedita, nemo at.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis vel similique esse dolorem! Veritatis,
        distinctio. Recusandae aut numquam assumenda inventore quaerat animi non cupiditate porro iusto accusamus.
        Expedita, nemo at.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis vel similique esse dolorem! Veritatis,
        distinctio. Recusandae aut numquam assumenda inventore quaerat animi non cupiditate porro iusto accusamus.
        Expedita, nemo at.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis vel similique esse dolorem! Veritatis,
        distinctio. Recusandae aut numquam assumenda inventore quaerat animi non cupiditate porro iusto accusamus.
        Expedita, nemo at.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis vel similique esse dolorem! Veritatis,
        distinctio. Recusandae aut numquam assumenda inventore quaerat animi non cupiditate porro iusto accusamus.
        Expedita, nemo at.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis vel similique esse dolorem! Veritatis,
        distinctio. Recusandae aut numquam assumenda inventore quaerat animi non cupiditate porro iusto accusamus.
        Expedita, nemo at.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis vel similique esse dolorem! Veritatis,
        distinctio. Recusandae aut numquam assumenda inventore quaerat animi non cupiditate porro iusto accusamus.
        Expedita, nemo at.</p>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis vel similique esse dolorem! Veritatis,
        distinctio. Recusandae aut numquam assumenda inventore quaerat animi non cupiditate porro iusto accusamus.
        Expedita, nemo at.</p>
</body>

</html>