{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>排版練習3</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}?t={{ timestamp }}">
</head>
<style>
    div {
        padding: 40px;
        border: 6px solid #f00;
        font-size: 24px;
    }
    .b {
        position: fixed;
        left: 0 ;
        top: 0;
        right: 0;
        bottom: 0;
    }
    .c {
        width: 100px;
        position: absolute;
        left: 0 ;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
    }
</style>

<body>
    <div class="a">
        a
        <div class="b">
            b
            <div class="c">
                c
            </div>
        </div>
    </div>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nisi ex placeat quibusdam quia voluptatem et
        perspiciatis porro sit quis veniam, amet quos enim quas dolorem optio consectetur quae fugit similique.</p>
    <p>A reiciendis sequi fuga debitis unde ipsum. Fugit assumenda voluptate amet ullam cupiditate quidem modi facere
        doloremque magnam voluptatibus excepturi numquam similique ea natus, aperiam saepe dolorem, eaque architecto
        nesciunt?</p>
    <p>Accusamus nesciunt possimus suscipit aliquam aut rerum veniam? Sed, natus, distinctio dicta at possimus incidunt
        maiores magni sunt quisquam voluptates repellendus facilis iusto, esse laboriosam est ipsum labore inventore.
        Iure!</p>
    <p>Asperiores illum quis, eius praesentium provident sunt aut porro sapiente a tenetur facere ipsam harum quaerat
        excepturi! Deserunt similique doloremque, officia optio est nesciunt? Quasi dicta quas maiores quos. Blanditiis.
    </p>
    <p>Iure, officiis. Perspiciatis, architecto explicabo mollitia provident et, sint ex, illum est dolor velit odio!
        Aliquam perspiciatis sed fugit voluptatibus iste ipsum, exercitationem rem commodi cumque deserunt praesentium
        ut nesciunt.</p>
    <p>Iusto, sequi. Soluta, quam blanditiis. Architecto veritatis praesentium perspiciatis, tempore ipsa libero sequi
        quisquam quaerat aspernatur, voluptate rem quos dolorum optio neque eum, asperiores facere sed quam consectetur?
        Aliquid, repellat!</p>
    <p>Maxime sed totam quas tempore provident optio nobis temporibus quidem quibusdam deleniti assumenda qui, porro
        vel, cumque beatae voluptatem quae exercitationem repudiandae distinctio earum. Tempore eveniet recusandae fuga
        eius distinctio?</p>
    <p>Perferendis dolore commodi illum magnam non dicta et harum architecto eveniet dolor! Velit fuga perspiciatis,
        sunt, in commodi quod tempora culpa quis, quo minus laboriosam. At obcaecati repellat animi nisi.</p>
    <p>Nisi saepe fuga suscipit, perspiciatis, inventore eligendi eos, et commodi optio nostrum eius ratione. Sequi,
        provident? Deserunt architecto sequi sint repellendus, temporibus nisi. Reiciendis impedit dicta, nisi fugiat
        reprehenderit aut.</p>
    <p>Veniam aliquam sapiente odio enim nemo? Mollitia veritatis molestiae harum alias earum quia, quibusdam fugiat aut
        nulla impedit dolorem eos omnis eaque veniam! Accusantium magni totam est voluptatem quae maxime.</p>
    <p>Rem, aut ad quas quidem at eum ex ducimus labore eligendi blanditiis nemo accusantium magnam exercitationem
        similique vitae corrupti ab nihil in dolor doloremque vero eius eos! Nihil, ipsa deleniti.</p>
    <p>Non magni, at libero architecto nostrum nisi perferendis nulla ducimus hic reiciendis doloribus exercitationem,
        nemo rerum. Cupiditate soluta labore cumque asperiores. Sint, fugit eaque! Optio, illo modi. Voluptas, obcaecati
        doloribus.</p>
    <p>Magni omnis libero nesciunt error voluptatibus, similique commodi blanditiis accusamus dolor vitae voluptatem
        quos repudiandae, natus assumenda, ex quod ea consectetur maiores delectus nihil ipsam excepturi. Esse ullam
        veritatis quos!</p>
    <p>At iste autem consequatur ea distinctio! Repudiandae voluptates officia facere non eveniet laudantium dolore in,
        officiis quo velit saepe, iste sed harum assumenda molestias rem aliquam tempora quasi facilis voluptas?</p>
    <p>Eligendi accusantium repudiandae optio, voluptatibus reiciendis corporis quaerat mollitia ducimus sequi
        voluptates reprehenderit praesentium asperiores, dolorum in eveniet ipsam sunt cupiditate odio quis maiores.
        Error voluptatum sequi ratione molestiae nihil.</p>
    <p>Temporibus veritatis, sed error aperiam molestiae illum eveniet cupiditate adipisci voluptatum quia cumque amet
        obcaecati quis, nam vitae culpa quasi fugit possimus vel repellat mollitia odit. Maxime accusamus voluptatibus
        quisquam.</p>
    <p>Placeat rem iste beatae, fuga voluptas eius, aspernatur sapiente dignissimos delectus sequi exercitationem
        ratione sit? Excepturi aliquam illo amet esse, culpa dolor numquam explicabo omnis sit ex alias iure eos.</p>
    <p>A repellat provident eum officiis corporis, perferendis quis nulla officia, vero et repudiandae! Ipsum,
        voluptatibus sit! Dicta enim sunt quisquam assumenda maxime corporis? Asperiores facilis totam nobis iure?
        Nihil, iure.</p>
    <p>Vitae voluptatum eveniet veritatis fugiat aut quaerat aperiam, cupiditate quod impedit dolorum natus consectetur
        omnis hic saepe cum? Cumque, libero! Sequi a minus commodi nulla accusamus ipsum porro voluptate repudiandae?
    </p>
    <p>Facere doloribus expedita reiciendis fugit iste placeat officiis enim assumenda ut porro sint voluptatem nihil
        perferendis vel, vitae impedit perspiciatis, unde quia? Animi eum eius voluptates doloremque suscipit quibusdam
        tenetur!</p>
    <p>Deserunt vitae molestias modi vel, voluptates dolorem quidem! Hic adipisci natus eaque sit quasi reprehenderit
        nobis veniam consectetur quo fugiat dicta expedita accusantium quas omnis consequuntur similique, enim ratione
        delectus.</p>
    <p>Quia autem at hic tenetur assumenda maiores mollitia eum quibusdam dolor expedita quo magnam a quod, quis totam
        nisi voluptates iste? Possimus quasi quos ea sed et dolore excepturi beatae?</p>
    <p>Quidem quod distinctio ullam aspernatur, necessitatibus quasi consequuntur obcaecati eveniet quae eligendi
        asperiores possimus autem nemo quibusdam vero maxime! Maxime ipsam omnis maiores ex voluptatibus est sed
        perspiciatis, consequatur inventore.</p>
    <p>Quos aut beatae similique nemo quam quidem totam distinctio, aliquid necessitatibus repellendus, a laudantium
        ratione amet id minus vero sapiente eum illo voluptatum corporis. Unde fuga minima numquam magnam ipsum.</p>
    <p>Dolor, sit. Necessitatibus, repudiandae tempore illo ex sequi culpa at nobis quibusdam. Odit obcaecati deleniti
        totam, autem in nostrum atque tempore voluptatem explicabo beatae, iusto recusandae. Quidem tempora est at!</p>
    <p>Tempora porro dolor obcaecati debitis maxime earum voluptatibus, accusantium delectus autem nobis ullam
        repellendus et illum molestias eligendi natus, fugit aliquam. Beatae voluptatibus impedit ab suscipit. Eum iure
        impedit dolor?</p>
    <p>Soluta voluptas dolor ut odio est nisi libero delectus quaerat unde sint asperiores cumque mollitia sit
        aspernatur et quia minus laboriosam explicabo numquam, sunt iusto. Reiciendis voluptas eaque incidunt sequi.</p>
    <p>Sed corrupti aut nobis adipisci, neque quis corporis numquam maiores, veritatis eum perferendis debitis magnam.
        Totam exercitationem sequi autem, amet incidunt laboriosam ducimus odit doloremque at tempore in voluptas rem?
    </p>
    <p>Esse, praesentium ex! Ipsum repellendus eius ex deleniti impedit sapiente dicta corrupti, ipsa ullam suscipit
        ratione, aliquam quisquam odit! Officiis facilis voluptatum blanditiis non magnam ullam excepturi velit, nobis
        cumque.</p>
    <p>Ullam harum impedit minus alias, nemo illo iste molestias natus quo libero quis, nesciunt perspiciatis cum!
        Blanditiis commodi iste doloremque quae minima. Accusamus, laudantium beatae asperiores perspiciatis dignissimos
        atque quam!</p>
</body>

</html>