
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    *{
        margin: 0;
        padding: 0;
        list-style: none;
    }
    .sean{
        width: 100%;
        height: 300px;
    }
    .sean1{
        background-color: #f00;
    }
    .sean2{
        background-color: #ff0;
    }
    @media screen and (min-width:768px){
        .sean{
            width: 50%;
            float: left;
        }
    }
</style>
<body>
    <div class="sean sean1">
        1
    </div>
    <div class="sean sean2">
        2
    </div>

</body>
</html>